<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

/** @var $block \Magento\Catalog\Block\Product\View */
?>
<?php 
  $_product = $block->getProduct(); 
  $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
  $taxCalculation = $objectManager->get('\Magento\Tax\Api\TaxCalculationInterface');
  $productTaxClassId = $_product->getTaxClassId();
  
  $helper = $this->helper('Magemonkeys\Predefinedwallpaper\Helper\Data');
  $standard = $helper->StandardPrice();
  $premium = $helper->PremiumPrice();
  $Taxrate = $taxCalculation->getCalculatedRate($productTaxClassId);

?>
<?php if ($block->shouldRenderQuantity()){ ?>
<div class="calcwrap">
    <a class="clttl" href="javascript:void(0)">Jetzt Bedarf berechnen</a>
    <div class="clgray">
        <div class="ttl">
            <div class="ttlflex">
                <div class="cl">
                    <label><strong>Raumbreite</strong> in Metern</label>
                    <input type="text" class="rollcalculator required-entry" id="width" name="width" autocomplete="off" placeholder="Width CM" />
                    <span class="width_m2"></span>
                </div>
                <div class="cl"><span class="cross">X</span></div>                
                <div class="cl">
                    <label><strong>Raumlänge</strong> in Metern</label>
                    <input type="text" class="rollcalculator required-entry" id="height" name="height" autocomplete="off" placeholder="Height CM" />
                    <span class="height_msg"></span>
                    <span class="height_m2"></span>
                </div>                
            </div>
            
            <div style="margin-top:15px;">
                <input disabled="disabled" class="action-full" id="full" name="full" value="full" type="checkbox">
                <label for="full">Use full image</label>
            </div>

            <div style="margin-top:15px;">
                <input disabled="disabled" class="action-mirror" id="flip" name="flip" value="flip" type="checkbox">
                <label for="flip">Mirror image</label>
            </div>           
        </div>
        <div class="row">
          <div class="col-md-12">
              <label for="area" ><?php echo __('Size');?>:</label>  
              <select disabled="disabled" name="wallpaper_size" id="wallpaper_size">
                <option value="">Select size</option>
                <option widthmm="2000" heightmm="1330" value="M - 2000 mm x 1330 mm">M - 2000 mm x 1330 mm</option>
                <option widthmm="3000" heightmm="2500" value="L - 3000 mm x 2500 mm">L - 3000 mm x 2500 mm</option>
                <option widthmm="4000" heightmm="2670" value="XL - 4000 mm x 2670 mm">XL - 4000 mm x 2670 mm</option>
                <option widthmm="5000" heightmm="3330" value="XXL - 5000 mm x 3330 mm">XXL - 5000 mm x 3330 mm</option>
              </select>
              
          </div>
        </div>
        <div class="row">
            <div class="col-md-6 tooltips">
                <input disabled="disabled" type="radio" name="package" id="standard" value="standard"> 
                Standard <i class="fa fa-info-circle"></i>
                <span class="tooltiptext">                  
                  <?php echo $this->helper('Magemonkeys\Predefinedwallpaper\Helper\Data')->StandardTooltip(); ?>
                  <h3 class="standardprice">£<?php echo $standard; ?>/m²</h3>
                </span> 
            </div>
            <div class="col-md-6 tooltips">
                <input disabled="disabled" type="radio" name="package" id="premium" value="premium"> Premium <i class="fa fa-info-circle"></i>
                <span class="tooltiptext">
                  <?php echo $this->helper('Magemonkeys\Predefinedwallpaper\Helper\Data')->PremiumTooltip(); ?>
                  <h3 class="standardprice">£<?php echo $premium; ?>/m²</h3>
                </span>
            </div>
            <div class="ttlprice" style="display: none;">
                <h3 id='currency'></h3>
                <?php if($Taxrate){
                  echo "<p>ink." .$Taxrate.'% MwSt.</p>';
                } ?>
                
                <input type="button" class="cropimg" value="cr" style="display: none;">
                <input type="hidden" name="proimg" id="proimg">
                <input type="hidden" name="price" id="price">                
                <input type="hidden" name="crop_width" id="crop_width">                
                <input type="hidden" name="crop_height" id="crop_height">                
                <input type="hidden" name="crop_x" id="crop_x">                
                <input type="hidden" name="crop_y" id="crop_y">                
                <input type="hidden" name="m2" id="m2">                                
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
  require(['jquery', 'jqueryCrop1', 'rcrop1','jquery/ui'], function ($) {  
    jQuery(document).ready(function($){    
            var $image2 = $('#mainImageSrc'),
                $update = $('.cropimg'),
                inputs = {
                    x : $('#crop_x'),
                    y : $('#crop_y'),
                    width : $('#width'),
                    height : $('#height')
                },
                fill = function(){
                    var values = $image2.rcrop('getValues');
                    for(var coord in inputs){
                       //inputs[coord].val(values[coord]);                       
                    }                                       
                    
                    $('#crop_x').val(values['x']);
                    $('#crop_y').val(values['y']);
                }
            $image2.rcrop();
            $image2.on('rcrop-changed rcrop-ready', fill);            
            $update.click(function(){                            
              var $customerInputWidth = inputs.width.val(); 
              var $customerInputHeight = inputs.height.val();                           
              var $ratio = $customerInputWidth / $customerInputHeight;
              var myImg = document.querySelector("#mainImageSrc");
              var $imageWidth = myImg.naturalWidth;
              var $imageHeight = myImg.naturalHeight;
              var $maxPossibleWidth = $imageWidth;
              var $maxPossibleHeight = $maxPossibleWidth / $ratio;

              if ($maxPossibleHeight <= $imageHeight) {
                  var width = $maxPossibleWidth;
                  var height = $maxPossibleHeight;
              } else {                        
                  $ratio = $customerInputHeight / $customerInputWidth;
                  $maxPossibleHeight = $imageHeight;
                  $maxPossibleWidth = $maxPossibleHeight / $ratio;
                  var width = $maxPossibleWidth;
                  var height = $maxPossibleHeight;
              }

              $('#crop_width').val(width);
              $('#crop_height').val(height);
              
              $image2.rcrop('resize', width, height, inputs.x.val(), inputs.y.val());              
            }); 


        /********** cm to meter *************/

        jQuery("#width").bind("keyup change", function(e) {
            var width = jQuery('#width').val();
            var w_meter  = width / 100;
            if(width!=''){
                $('.width_m2').text(width+' cm = '+w_meter+' m');
            }else{
                $('.width_m2').text('');
            }
        });

        jQuery("#height").bind("keyup change", function(e) {
            var height = jQuery('#height').val();
            var h_meter  = height / 100;
            if(height!=''){
                $('.height_m2').text(height+' cm = '+h_meter+' m');
            }else{
                $('.height_m2').text('');
            }
        });


        /********* crop area center **************/
        centerCrop = function(){ 
          var $customerInputWidth = $('#width').val();
          var $customerInputHeight = $('#height').val();
          var $ratio = $customerInputWidth / $customerInputHeight;
          var myImg = document.querySelector("#mainImageSrc");
          var $imageWidth = myImg.naturalWidth;
          var $imageHeight = myImg.naturalHeight;
          var $maxPossibleWidth = $imageWidth;
          var $maxPossibleHeight = $maxPossibleWidth / $ratio;

          if ($maxPossibleHeight <= $imageHeight) {
              var width = $maxPossibleWidth;
              var height = $maxPossibleHeight;
          } else {                        
              $ratio = $customerInputHeight / $customerInputWidth;
              $maxPossibleHeight = $imageHeight;
              $maxPossibleWidth = $maxPossibleHeight / $ratio;
              var width = $maxPossibleWidth;
              var height = $maxPossibleHeight;
          } 
          
          var x = $imageWidth / 2 - width / 2 ;
          var y = $imageHeight / 2 - height / 2                            

          $('#crop_x').val(x);
          $('#crop_y').val(y);
        }
        
        /********* crop area center end **************/


        jQuery("#width, #height").bind("keyup change", function(e) {
            var width = jQuery('#width').val();
            var height = jQuery('#height').val();
            var meter = (parseInt(height) * parseInt(width))*(0.01*0.01);
            $('#m2').val(Math.ceil(meter)); 
            $('#wallpaper_size').val(''); 

            /***** price change ******/  

            var m2 = $("#m2").val();
            var standard_total = '<?php echo $standard; ?>' * parseInt(m2);            
            $(".ttlprice").show();
            $("#currency").text(standard_total+'€');            
            $("#price").val(standard_total);


            var premium_total = '<?php echo $premium; ?>' * parseInt(m2);            
            $(".ttlprice").show();
            $("#currency").text(premium_total+'€');            
            $("#price").val(premium_total); 
            $(".action-full").prop("checked", false); 
            $('.rcrop-croparea.clayfy-box, .rcrop-outer').show();           
            $('.height_msg').text('');   
            centerCrop();
        });


        /**********Image crop full and flip*************/
        $(document).on('click', '.action-mirror', function(){
           $('.rcrop-wrapper').toggleClass('mainImage-image-flip');                      
        });

        $(document).on('click', '.action-full', function(){
           $('.rcrop-croparea.clayfy-box, .rcrop-outer').toggle(); 
           if($(this).prop("checked") == true){                  
            var target_height = $('#width').val();            
            var target_width = $('#height').val();

            var myImg = document.querySelector("#mainImageSrc");
            var im_width = myImg.naturalWidth;
            var im_height = myImg.naturalHeight;
            
            var v_fact = target_height / im_height 
            var h_fact = target_width / im_width
            
            var im_fact = Math.min(v_fact, h_fact)
            var new_height = im_height * im_fact
            var new_width = im_width * im_fact 
            //$('#width').val(Math.round(new_width));
            $('#height').val(Math.round(new_height));
            //console.log('height= '+new_height+' width= '+new_width);

            /*meter calculation start*/
            var w_meter  = new_width / 100;
            var h_meter  = new_height / 100;
            if(new_width!=''){$('.width_m2').text(Math.ceil(new_width)+' cm = '+Math.ceil(w_meter)+' m');
            }else{$('.width_m2').text('');}

            if(new_height!=''){$('.height_m2').text(Math.ceil(new_height)+' cm = '+Math.ceil(h_meter)+' m');
            $('.height_msg').text('Your measurements have changed. Please make sure the measurements fit your wall or contact us for assistance.');
            }else{$('.height_m2').text('');}
            /*meter calculation end*/

            /*price calculation start*/
            var meter = (parseInt(new_height) * parseInt(new_width))*(0.01*0.01);
            $('#m2').val(Math.ceil(meter)); 
            var m2 = $("#m2").val();
            var standard_total = '<?php echo $standard; ?>' * parseInt(m2);            
            $(".ttlprice").show();
            $("#currency").text(standard_total+'€');            
            $("#price").val(standard_total);

            var premium_total = '<?php echo $premium; ?>' * parseInt(m2);            
            $(".ttlprice").show();
            $("#currency").text(premium_total+'€');            
            $("#price").val(premium_total); 
            /*price calculation end*/
          }else{
            $('.height_msg').text('');
            $("#full").removeClass("action-full");
          }
        });

        /*add to cart button disabled*/
        setTimeout(function(){ 
          $('#product-addtocart-button').prop('disabled', true); 
        },1000);

        /**********Image crop change*************/
        var imgsrc = $('#mainImageSrc').attr("src");
        $('#proimg').val(imgsrc);

        $(document).on('change', '#width, #height', function(){          
          $('#standard, #premium, #full, #flip, #wallpaper_size').prop('disabled', false);           
          $(".cropimg").trigger("click");                 
          $('.rcrop-croparea.clayfy-box, .rcrop-outer').show();          
        });


        /**********Size dropdown change*************/

        $(document).on('change', '#wallpaper_size', function(){ 
          $('#width, #height').val('');                    
          if($(this).val()!=''){
            $("#full").addClass("action-full");
            $("#full").prop("checked", false);
            $('.height_msg').text('');
            $('.rcrop-croparea.clayfy-box, .rcrop-outer').show();
            var widthmm = $('option:selected', this).attr('widthmm');
            var heightmm = $('option:selected', this).attr('heightmm');
            var withcm = widthmm / 10;
            var heightcm = heightmm / 10;
            $('#width').val(Math.round(withcm));
            $('#height').val(Math.round(heightcm));

            var width = Math.round(withcm);
            var height = Math.round(heightcm);

            /*meter calculation start*/
            var w_meter  = width / 100;
            var h_meter  = height / 100;
            if(width!=''){$('.width_m2').text(width+' cm = '+w_meter+' m');
            }else{$('.width_m2').text('');}

            if(height!=''){$('.height_m2').text(height+' cm = '+h_meter+' m');            
            }else{$('.height_m2').text('');}
            /*meter calculation end*/

            /*price calculation start*/
            var meter = (parseInt(height) * parseInt(width))*(0.01*0.01);
            $('#m2').val(Math.ceil(meter)); 
            var m2 = $("#m2").val();
            var standard_total = '<?php echo $standard; ?>' * parseInt(m2);            
            $(".ttlprice").show();
            $("#currency").text(standard_total+'€');            
            $("#price").val(standard_total);

            var premium_total = '<?php echo $premium; ?>' * parseInt(m2);            
            $(".ttlprice").show();
            $("#currency").text(premium_total+'€');            
            $("#price").val(premium_total); 
            /*price calculation end*/

            centerCrop();
            $(".cropimg").trigger("click");
          }
        });

        /**********Size dropdown change end*************/


        /*standard and premium calculation*/
        $('#standard').click(function () {
            if ($(this).is(':checked')) {
                var m2 = $("#m2").val();
                var standard_total = '<?php echo $standard; ?>' * parseInt(m2);
                /*var taxRate = '<?php echo $Taxrate; ?>';
                var tax_amount = standard * taxRate / 100;
                var total = parseInt(standard) + parseInt(tax_amount);*/
                $(".ttlprice").show();
                $("#currency").text(standard_total+'€');            
                $("#price").val(standard_total);                   
                $('#product-addtocart-button').prop('disabled', false);         
            }
          });

          $('#premium').click(function () {
              if ($(this).is(':checked')) {
                  var m2 = $("#m2").val();
                  var premium_total = '<?php echo $premium; ?>' * parseInt(m2);
                  /*var taxRate = '<?php echo $Taxrate; ?>';
                  var tax_amount = premium * taxRate / 100;
                  var total = parseInt(premium) + parseInt(tax_amount);*/
                  $(".ttlprice").show();
                  $("#currency").text(premium_total+'€');            
                  $("#price").val(premium_total);                  
                  $('#product-addtocart-button').prop('disabled', false);         
              }
          });

      }); 
  });
</script>
<?php } ?>

<?php $buttonTitle = __('Add to Cart'); ?>
<?php if ($_product->isSaleable()) :?>
<div class="box-tocart">
    <div class="fieldset">  
    <input style="display: none;" type="number"
                   name="qty"
                   id="qty"
                   min="0"
                   value="<?= $block->getProductDefaultQty() * 1 ?>"
                   title="<?= $block->escapeHtmlAttr(__('Qty')) ?>"
                   class="input-text qty"
                   data-validate="<?= $block->escapeHtml(json_encode($block->getQuantityValidators())) ?>"
                   />      
        <div class="actions">
            <button type="submit"
                    title="<?= $block->escapeHtmlAttr($buttonTitle) ?>"
                    class="action primary tocart"
                    id="product-addtocart-button" disabled>
                <span><?= $block->escapeHtml($buttonTitle) ?></span>
            </button>
            <?= $block->getChildHtml('', true) ?>
        </div>
    </div>
</div>
<?php endif; ?>
<script type="text/x-magento-init">
    {
        "#product_addtocart_form": {
            "Magento_Catalog/js/validate-product": {}
        }
    }
</script>
