<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// phpcs:disable Magento2.Templates.ThisInTemplate.FoundThis

/**
 * Product view template
 *
 * @var $block \Magento\Catalog\Block\Product\View
 */
?>
<?php $_helper = $this->helper(Magento\Catalog\Helper\Output::class); ?>
<?php $_product = $block->getProduct(); ?>

<div class="product-add-form">
    <form data-product-sku="<?= $block->escapeHtml($_product->getSku()) ?>"
          action="<?= $block->escapeUrl($block->getSubmitUrl($_product)) ?>" method="post"
          id="product_addtocart_form"<?php if ($_product->getOptions()) :?> enctype="multipart/form-data"<?php endif; ?>>
        <input type="hidden" name="product" value="<?= (int)$_product->getId() ?>" />
        <input type="hidden" name="selected_configurable_option" value="" />
        <input type="hidden" name="related_product" id="related-products-field" value="" />
        <input type="hidden" name="item"  value="<?= (int)$block->getRequest()->getParam('id') ?>" />
        <?= $block->getBlockHtml('formkey') ?>
        <?= $block->getChildHtml('form_top') ?>
        <?php if (!$block->hasOptions()) :?>
            <?= $block->getChildHtml('product_info_form_content') ?>
        <?php else :?>
            <?php if ($_product->isSaleable() && $block->getOptionsContainer() == 'container1') :?>
                <?= $block->getChildChildHtml('options_container') ?>
            <?php endif;?>
        <?php endif; ?>

        <?php if ($_product->isSaleable() && $block->hasOptions() && $block->getOptionsContainer() == 'container2') :?>
            <?= $block->getChildChildHtml('options_container') ?>
        <?php endif;?>
        <?= $block->getChildHtml('form_bottom') ?>
    </form>
</div>
<script>
    require([
        'jquery',
        'priceBox'
    ], function($){
        var dataPriceBoxSelector = '[data-role=priceBox]',
            dataProductIdSelector = '[data-product-id=<?= $block->escapeHtml($_product->getId()) ?>]',
            priceBoxes = $(dataPriceBoxSelector + dataProductIdSelector);

        priceBoxes = priceBoxes.filter(function(index, elem){
            return !$(elem).find('.price-from').length;
        });

        priceBoxes.priceBox({'priceConfig': <?= /* @noEscape */ $block->getJsonConfig() ?>});
    });
</script>
<!------------- Popup Form ------------>
  <div class="cust-model-popup">
    <div class="row custpopup">
        <div class="top-content col-lg-12">
            <h3 class="popup__title">Enter wallpaper dimensions</h3>
            <p class="popup__preamble">Measure the surface to be wallpapered and then enter the width and height.</p>
            <p class="tooltips">Gewünschtes Format eingeben:</p>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <label for="pop_width">Breite:</label> 
                <input id="pop_width" name="wallpaper_width" class="imgwidth" placeholder="Width CM" type="text" onkeypress="return onlyNumberKey(event)" autocomplete="off">
                <!-- <span class="cm">CM</span> -->
                <span class="width_m2"></span>
            </div>
            <div class="col-lg-6">                
                <label for="pop_height">Höhe:</label>  
                <input id="pop_height" name="wallpaper_height" placeholder="Height CM" type="text" onkeypress="return onlyNumberKey(event)" autocomplete="off">
                <!-- <span class="cm">CM</span> -->
                <span class="height_m2"></span>
            </div>
        </div>
        <div class="wallpaper-btn col-lg-12">
          <span>Show Wallpaper</span>
        </div>
      </div>
  </div>
 
<script type="text/javascript">  
  require(['jquery','jquery/ui'], function ($) {  
    jQuery(document).ready(function($){   
        jQuery(".cust-model-popup").show();
        jQuery(".wallpaper-btn").click(function(){
            var flag = 1;
            $(".mage-error").remove();
            if($('#pop_width').val()==''){
                $('#pop_width').after('<div for="pop_width" generated="true" class="mage-error" id="pop_width-error">value-required.</div>');
                flag=0;
            }
            if($('#pop_height').val()==''){
                $('#pop_height').after('<div for="pop_height" generated="true" class="mage-error" id="pop_height-error">value-required.</div>');
                flag=0;
            }
            if(flag==1){
                jQuery(".cust-model-popup").hide();
            }
        });
        jQuery("#pop_width,#pop_height").bind("keyup change", function(e) {
            var diamension  = jQuery(this).val();
            if(jQuery(this).attr('id') == 'pop_width'){
               jQuery('#width').val(diamension); 
            }
            if(jQuery(this).attr('id') == 'pop_height'){
               jQuery('#height').val(diamension);                 
            }
            $(".cropimg").trigger("click");                 
            $('.rcrop-croparea.clayfy-box, .rcrop-outer').show(); 

            $('#standard, #premium, #full, #flip, #wallpaper_size').prop('disabled', false);   

            var width = jQuery('#pop_width').val();
            var height = jQuery('#pop_height').val();
            var meter = (parseInt(height) * parseInt(width))*(0.01*0.01);
            $('#m2').val(Math.ceil(meter)); 

            /********* crop area center **************/
            var $customerInputWidth = $('#pop_width').val();
            var $customerInputHeight = $('#pop_height').val();
            var $ratio = $customerInputWidth / $customerInputHeight;
            var myImg = document.querySelector("#mainImageSrc");
            var $imageWidth = myImg.naturalWidth;
            var $imageHeight = myImg.naturalHeight;
            var $maxPossibleWidth = $imageWidth;
            var $maxPossibleHeight = $maxPossibleWidth / $ratio;

            if ($maxPossibleHeight <= $imageHeight) {
                var width = $maxPossibleWidth;
                var height = $maxPossibleHeight;
            } else {                        
                $ratio = $customerInputHeight / $customerInputWidth;
                $maxPossibleHeight = $imageHeight;
                $maxPossibleWidth = $maxPossibleHeight / $ratio;
                var width = $maxPossibleWidth;
                var height = $maxPossibleHeight;
            } 
            
            var x = $imageWidth / 2 - width / 2 ;
            var y = $imageHeight / 2 - height / 2                            

            $('#crop_x').val(x);
            $('#crop_y').val(y);            
            /********* crop area center end **************/  

        });
        
        jQuery("#pop_width").bind("keyup change", function(e) {
            var width = jQuery('#width').val();
            var w_meter  = width / 100;
            if(width!=''){
                $('.width_m2').text(width+' cm = '+w_meter+' m');
            }else{
                $('.width_m2').text('');
            }
        });

        jQuery("#pop_height").bind("keyup change", function(e) {
            var height = jQuery('#pop_height').val();
            var h_meter  = height / 100;
            if(height!=''){
                $('.height_m2').text(height+' cm = '+h_meter+' m');
            }else{
                $('.height_m2').text('');
            }
        });

    }); 
  });
  function onlyNumberKey(evt) {           
    // Only accept digit
    var ASCIICode = (evt.which) ? evt.which : evt.keyCode 
    if (ASCIICode > 31 && (ASCIICode < 48 || ASCIICode > 57)) 
        return false; 
    return true; 
} 
</script>

<!------------- Popup Form ------------>