<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

/**
 * Product media data template
 *
 * @var $block \Magento\Catalog\Block\Product\View\Gallery
 */
?>

<?php
$images = $block->getGalleryImages()->getItems();
$mainImage = current(array_filter($images, function ($img) use ($block) {
    return $block->isMainImage($img);
}));

if (!empty($images) && empty($mainImage)) {
    $mainImage = $block->getGalleryImages()->getFirstItem();
}

$helper = $block->getData('imageHelper');
$mainImageData = $mainImage ?
    $mainImage->getData('large_image_url') :
    $helper->getDefaultPlaceholderUrl('image');

?>
<div class="image-wrapper" id="image-4-wrapper">
	<img alt="main product photo" id="mainImageSrc" class="mainImageSrc" src="<?= /* @noEscape */ $mainImageData ?>" img-height="" img-width="" />
</div>