<script type="text/x-magento-init">
    {
        "*": {
            "Magemonkeys_Reseller/js/validate-admin-field": {
                "ajaxUrl": "<?php echo $block->getUrl('reseller/reseller/validate'); ?>"
            }
        }
    }
</script>
<style type="text/css">
    .mage-error{ color:red; }
</style>