/*....wallpaper....*/

.form-horizontal .btn.btn-primary {
    margin-left: 10px;
    padding: 7px 39px
}


.mainImage {
    text-align: center;
    min-height: 400px;
    max-height: 800px;
    margin-bottom: 20px;    
}
.mainImage img {
    max-height: 100%
}

#attachmentFiles {
    margin-top: 20px;
}

.wallpaper-image-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.imageContainer {
    max-width: 80px;
    width: 100%;
    max-height: 80px;
    border: 1px solid #d3d3d3;
    text-align: center;
    padding: 0;
}

.image.item.base-image {
    margin-bottom: 10px;
    border: 2px dashed #A1264D;
    padding: 13px;    
}
.delete-action {
    margin-right: 0;
    margin-left: auto;
}

.browse-wrap {
    margin-bottom: 10px;
    background: #e8e8e8;
    padding: 11px 16px;
    border-radius: 8px;    
}
.browse-wrap input {
    width: 100%;
}

.wallpapercustompage button.action-flip {
    background: url(../images/ic1.png) no-repeat;
    background-size: 25px;
    border: none;
    box-shadow: none;
    margin-right: 25px;
}

.wallpapercustompage button.action-flip span {
    font-size: 0
}

.wallpapercustompage button.action-bw {
    background: url(../images/ic2.png) no-repeat;
    background-size: 25px;
    border: none;
    box-shadow: none;
    margin-right: 25px;
}

.wallpapercustompage button.action-bw span {
    font-size: 0
}

.wallpapercustompage button.action-sepia {
    background: url(../images/ic3.png) no-repeat;
    background-size: 25px;
    border: none;
    box-shadow: none;
    margin-right: 25px;
}

.wallpapercustompage button.action-sepia span {
    font-size: 0
}

.wallpapercustompage button.action-cancel {
    background: none;
    border-radius: 4px;
    font-weight: 600;
    box-shadow: none;
    font-size: 14px;
    margin-right: 0;
    margin-left: auto;
    padding: 7px 60px;
}

.wallpapercustompage button.action-apply {
    background: #A1264D;
    color: #fff;
    border-radius: 4px;
    border-color: #A1264D;
    font-weight: 600;
    box-shadow: none;
    font-size: 14px;
    margin-right: 0;
    margin-left: auto;
    float: right;
    padding: 7px 60px;
}

.wallpapercustompage button.action-remove {
    background: url(../images/cross.png) no-repeat;
    background-size: 13px;
    border: none;
    box-shadow: none;
    margin-right: 0;
    padding: 0;
    width: 16px;
}

.wallpapercustompage button.action-remove span {
    font-size: 0
}



.wallpapercustompage .clayfy-handler.clayfy-top.left, .clayfy-handler.clayfy-top.right, .clayfy-handler.clayfy-bottom.left, .clayfy-handler.clayfy-bottom.right, .clayfy-handler.clayfy-left, .clayfy-handler.clayfy-right, .clayfy-handler.clayfy-top, .clayfy-handler.clayfy-bottom {
    cursor: none;
    display: none !important;
}
.row.cropdiv {    
    position: relative;
}
.cropdiv span.cm {
    position: absolute;
    right: 9px;
    top: 26px;
    background: #eee;
    padding: 6px;
    overflow: hidden;
    border-radius: 4px;
}
.row.cropdiv label {
    font-weight: bold;
    color: #687074;
}
p.inst {
    padding: 15px 8px;
    font-size: 17px;
}
p.tooltips {
    margin: 12px 9px;
    width: 100%;
    border-bottom: 1px solid #dacfcf;
    font-size: 16px;
    font-weight: 500;
}
.cropdiv .btn-primary:disabled {
    color: #fff;
    background-color: grey !important;
    border-color: grey !important;
}
.wallpapercustompage .rcrop-croparea.clayfy-box, .rcrop-outer {
    display: none;
}
.proprice {
    clear: both;
    font-size: 30px;
    padding: 20px 10px 10px;
}
p.delivery_time {
    margin-left: 10px;
    margin-bottom: 0;
}
p.freedelivery {
    margin-left: 10px;
    color: green;
    font-size: 16px;
    font-weight: 600;
}
.proprice p {
    position: absolute;
    left: 65px;
    bottom: 97px;
}
.mainImage img {
    max-height: 500px !important;
}
img.wallpaper-image {
    max-height: 80px;
}
span.imgname {
    position: absolute;
    right: 100px;
    font-size: 15px;
}
.errormsg{
    position: absolute;
    right: 71px;
    color: red;
    font-weight: 600;
    top: 22px;
}
.wallpaper-image-wrapper {
    position: relative;
}
.wallpaper-customisation .btn.btn-primary {
    background: #A1264D;
    color: #fff;
    border-radius: 4px;
    border-color: #A1264D;
    font-weight: 600;
    box-shadow: 0px 3px 6px #00000029;
    font-size: 14px;
}
button#addtocart {
    width: 100%;
}
select#wallpaper_size {
    border: 1px solid #393939;
    border-radius: 4px;
    font-size: 14px;
    letter-spacing: 0.56px;
    color: #352F4E;
    font-family: 'Hind', sans-serif;
    height: 34px;
}
.errormsg_meter {
    position: absolute;
    left: 9px;
    color: red;
    font-weight: 600;
    top: 133px;
    width: 100%;
}
span.errormsg_dpi {
    color: red;
    font-weight: 600;
}
.delete-action .fa.fa-check {
    margin-right: 10px;
    font-size: 17px;
    color: green;
}
.wallpaper-customisation input:-moz-read-only { opacity: 0.5; }
.wallpaper-customisation input:read-only { opacity: 0.5; }

.tooltipsdiv {
  position: relative;
  display: inline-block;  
}

.tooltipsdiv .tooltiptext {
    visibility: hidden;
    width: 235px;
    background-color: #7F7B8D;
    color: #fff;
    border-radius: 6px;
    padding: 6px 10px;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
}

.tooltipsdiv:hover .tooltiptext {
  visibility: visible;
}
.tooltipsdiv .tooltiptext h3 {
  color: #fff;
}
.tooltiptext p{
  font-weight: 500;
  font-size: 14px !important;
}



#image-4-wrapper .rcrop-outer-wrapper{
    opacity: .75;
}
#image-4-wrapper .rcrop-outer{
    background: #000
}
#image-4-wrapper .rcrop-croparea-inner{
    border: 1px dashed #fff;
}

#image-4-wrapper .rcrop-handler-corner{
    width:12px;
    height: 12px;
    background: none;
    border : 0 solid #51aeff;
}
#image-4-wrapper .rcrop-handler-top-left{
    border-top-width: 4px;
    border-left-width: 4px;
    top:-2px;
    left:-2px
}
#image-4-wrapper .rcrop-handler-top-right{
    border-top-width: 4px;
    border-right-width: 4px;
    top:-2px;
    right:-2px
}
#image-4-wrapper .rcrop-handler-bottom-right{
    border-bottom-width: 4px;
    border-right-width: 4px;
    bottom:-2px;
    right:-2px
}
#image-4-wrapper .rcrop-handler-bottom-left{
    border-bottom-width: 4px;
    border-left-width: 4px;
    bottom:-2px;
    left:-2px
}
#image-4-wrapper .rcrop-handler-border{
    display: none;
}

#image-4-wrapper .clayfy-touch-device.clayfy-handler{
    background: none;
    border : 0 solid #51aeff;
    border-bottom-width: 6px;
    border-right-width: 6px;
}


/*laoder css*/

#overlay{
  position:fixed;
  z-index:99999;
  top:0;
  left:0;
  bottom:0;
  right:0;
  background:rgba(0,0,0,0.9);
  transition: 1s 0.4s;
}
#progress{
  height:1px;
  background:#fff;
  position:absolute;
  width:0;                /* will be increased by JS */
  top:50%;
}
#progstat{
  font-size:0.7em;
  letter-spacing: 3px;
  position:absolute;
  top:50%;
  margin-top:-40px;
  width:100%;
  text-align:center;
  color:#fff;
}
.innerDiv{
    padding: 10px;
}
.wallpapercustompage .calcwrap {
    margin-top: 0px;
}
.cropdiv .col-lg-6 {
    padding-bottom: 10px;
}