<?php
$imagesData = $block->getImagesData();
$PerMeterPrice = $this->helper('Magemonkeys\Wallpaper\Helper\Data')->PerMeterPrice();
$WallpaperDefaultImg = $this->getViewFileUrl('Magemonkeys_Wallpaper::images/10221276943_45e198c6c6_4k.jpg');
//echo "<pre>"; print_r($imagesData); echo "</pre>";
$html = '';
$src = '';
$type = '';
$price = '';
$checked = '';
$imgname = '';
$productnameid = '';
$img_height = '';
$img_width = '';
$max_width = '';
$max_height = '';
if(!empty($imagesData))
{  
  $urlid = isset($_GET['item']) ? $_GET['item'] : '';
  foreach ($imagesData as $key => $value) { 
      $keyArray = explode('_', $key);
      if($urlid){
        if($urlid == $keyArray[0])
        {
            $newkey = $keyArray[0] .'_'. $keyArray[1];
            $imagesData[$newkey]['defaultimg'] = 1;        
        }
        else
        {
            $imagesData[$key]['defaultimg'] = 0;                    
        }
      }
    }  
    if($urlid){
      $this->helper('Magemonkeys\Wallpaper\Helper\Data')->getWallpaperSession()->setData('wallpaper_value', $imagesData);
    }
  foreach ($imagesData as $key => $value) { 
    if($value['defaultimg']==1){
      $src .= $value['src'];
      $type .= $value['type'];
      $imgname .= $value['name'];
      $price .= $value['price'];
      $productnameid .= $value['id'];
      $img_height .= $value['height'];
      $img_width .= $value['width'];
      $max_height .= $value['max_height'];
      $max_width .= $value['max_width'];
      $checked = 'checked="checked';      
    }else{
      $src .= '';
      $type .= '';
      $price .= '';
      $productnameid .= '';
      $checked = '';      
    }
    $html .= '<div class="image item base-image" data-role="image" id="'. $value['id'] .'">
                <div class="wallpaper-image-wrapper">
                    <div class="radioContainer">
                        <input data-src="'.$value['src'].'" data-srctype="'. $value['type'] .'" data-srcfilename="'. $value['name'] .'" '.$checked.' class="selectImage selectImage-'. $value['id'] .'" type="radio" name="selectImage" value="'. $value['id'] .'" />
                    </div>
                    <div class="imageContainer">
                        <img class="wallpaper-image" data-role="image-element" src="'.$value['src'].'" alt="">
                        <span class="imgname">'. $value['name'] .'</span>
                    </div>
                    <div class="delete-action">
                        <i class="fa fa-check"></i>
                        <button type="button" class="action-remove" data-role="delete-button" data-image="'.$value['name'].'" title="'. __('Delete image') .'"><span>'. __('Delete image') .'</span></button>
                    </div>
                </div>
              </div>';


  }  
  
}

?>
<script type="text/javascript">  
  require(['jquery', 'jqueryCrop', 'rcrop'], function ($) {  
    jQuery(document).ready(function($){    
            var $image2 = $('#mainImageSrc'),
                $update = $('.cropimg'),
                inputs = {
                    x : $('#x'),
                    y : $('#y'),
                    width : $('#width1'),
                    height : $('#height1')
                },
                fill = function(){
                    var values = $image2.rcrop('getValues');
                    for(var coord in inputs){
                       inputs[coord].val(values[coord]);                       
                    }                    

                    /*price calculation start*/
                    var meter = (parseInt(values['height']) * parseInt(values['width']))*(0.01*0.01);
                    $('#area').val(meter.toFixed(2));
                    var mprice = '<?php echo $PerMeterPrice; ?>';
                    var total = meter * mprice;
                    if (total){
                        $('.proprice > span').text(total.toFixed(2));
                        $('.proprice').attr('data-price',total.toFixed(2));
                    }else{
                        $('.proprice > span').text('0.00');
                    }
                    /*price calculation end*/                    
                }
            $image2.rcrop();

            $image2.on('rcrop-changed rcrop-ready', fill);
            
            $update.click(function(){
              /*var $customerInputHeight = Math.round(inputs.height.val() * 37.7952755906);
              var $customerInputWidth = Math.round(inputs.width.val() * 37.7952755906);*/
              var $customerInputWidth = inputs.width.val(); 
              var $customerInputHeight = inputs.height.val();                           
              var $ratio = $customerInputWidth / $customerInputHeight;
              var myImg = document.querySelector(".custmainImageSrc");
              var $imageWidth = myImg.naturalWidth;
              var $imageHeight = myImg.naturalHeight;
              var $maxPossibleWidth = $imageWidth;
              var $maxPossibleHeight = $maxPossibleWidth / $ratio;

              if ($maxPossibleHeight <= $imageHeight) {
                  var width = $maxPossibleWidth;
                  var height = $maxPossibleHeight;
              } else {                        
                  $ratio = $customerInputHeight / $customerInputWidth;
                  $maxPossibleHeight = $imageHeight;
                  $maxPossibleWidth = $maxPossibleHeight / $ratio;
                  var width = $maxPossibleWidth;
                  var height = $maxPossibleHeight;                                                     
              }

              var ww = getSizeInCM(width);
              var hh = getSizeInCM(height);
              $('#width1').val(Math.round(ww));
              $('#height1').val(Math.round(hh));

              $image2.rcrop('resize', width, height, inputs.x.val(), inputs.y.val());              
            });  

            var myImg = document.querySelector("#mainImageSrc");
            var imageWidth = getSizeInCM(myImg.naturalWidth);
            var imageHeight = getSizeInCM(myImg.naturalHeight);
            <?php if($max_height && $max_width){ ?>            
                $('#mainImageSrc').attr('img-height','<?php echo $max_height ?>');
                $('#mainImageSrc').attr('img-width','<?php echo $max_width ?>');
            <?php }else{ ?>
                $('#mainImageSrc').attr('img-height',Math.round(imageHeight));
                $('#mainImageSrc').attr('img-width',Math.round(imageWidth));
            <?php } ?>
            <?php if($img_height && $img_width){ ?>
                $('#width').val(<?php echo $img_width; ?>);
                $('#height').val(<?php echo $img_height; ?>);
            <?php }else{ ?>
                $('#width').val(Math.round(imageWidth));
                $('#height').val(Math.round(imageHeight));
            <?php } ?>

            $("#width").bind("keyup change", function(e) {
                $('#width1').val(this.value);
            });
            $("#height").bind("keyup change", function(e) {
                $('#height1').val(this.value);
            });  

            /********* crop area center **************/
              centerCrop = function(){
                var $customerInputWidth = $('#width').val();
                var $customerInputHeight = $('#height').val();
                var $ratio = $customerInputWidth / $customerInputHeight;
                var myImg = document.querySelector("#mainImageSrc");
                var $imageWidth = myImg.naturalWidth;
                var $imageHeight = myImg.naturalHeight;
                var $maxPossibleWidth = $imageWidth;
                var $maxPossibleHeight = $maxPossibleWidth / $ratio;

                if ($maxPossibleHeight <= $imageHeight) {
                    var width = $maxPossibleWidth;
                    var height = $maxPossibleHeight;
                } else {                        
                    $ratio = $customerInputHeight / $customerInputWidth;
                    $maxPossibleHeight = $imageHeight;
                    $maxPossibleWidth = $maxPossibleHeight / $ratio;
                    var width = $maxPossibleWidth;
                    var height = $maxPossibleHeight;
                }             
                var x = $imageWidth / 2 - width / 2 ;
                var y = $imageHeight / 2 - height / 2                            
                $('#x').val(x);
                $('#y').val(y);
              }
            
              $("#width, #height").bind("keyup change", function(e) {
                centerCrop();
              });
            
            /********* crop area center end **************/  

            $(document).on('change', '#wallpaper_size', function(){            
            if($(this).val()!=''){                    
              var widthmm = $('option:selected', this).attr('widthmm');
              var heightmm = $('option:selected', this).attr('heightmm');
              var withcm = widthmm / 10;
              var heightcm = heightmm / 10;
              flag=1;
              if($('#width').val() < Math.round(withcm)){
                $('.widtherrormsg').text('Width not allowed more than '+ $('#width').val());                
                $('.widtherrormsg').show();
                $('.rcrop-croparea.clayfy-box, .rcrop-outer').hide();                
                flag=0;
              }
              if($('#height').val() < Math.round(heightcm)){
                $('.heighterrormsg').text('Height not allowed more than '+ $('#height').val());                
                $('.heighterrormsg').show();
                $('.rcrop-croparea.clayfy-box, .rcrop-outer').hide();
                flag=0;
              }
              if(flag==1){              
                $('#width, #width1').val(Math.round(withcm));
                $('#height, #height1').val(Math.round(heightcm));

                /*price calculation start*/
                var width = Math.round(withcm);
                var height = Math.round(heightcm);
                var meter = (parseInt(height) * parseInt(width))*(0.01*0.01);
                $('#area').val(meter.toFixed(2));
                var mprice = '<?php echo $PerMeterPrice; ?>';
                var total = meter * mprice;
                if (total){
                    $('.proprice > span').text(total.toFixed(2));
                    $('.proprice').attr('data-price',total.toFixed(2));
                }else{
                    $('.proprice > span').text('0.00');
                }
                /*price calculation end*/
                
                centerCrop();              
                $(".cropimg").trigger("click");                 
                $('.rcrop-croparea.clayfy-box, .rcrop-outer').show();
              }
              }
            });        

    });
  }); 

/*******Loader js**********/
(function(){
  function id(v){ return document.getElementById(v); }
  function loadbar() {
    var ovrl = id("overlay"),
        prog = id("progress"),
        stat = id("progstat"),
        img = document.images,
        c = 0,
        tot = img.length;
    if(tot == 0) return doneLoading();

    function imgLoaded(){
      c += 1;
      var perc = ((100/tot*c) << 0) +"%";
      prog.style.width = perc;
      stat.innerHTML = "Loading "+ perc;
      if(c===tot) return doneLoading();
    }
    function doneLoading(){
      ovrl.style.opacity = 0;
      setTimeout(function(){ 
        ovrl.style.display = "none";
      }, 1200);
    }
    for(var i=0; i<tot; i++) {
      var tImg     = new Image();
      tImg.onload  = imgLoaded;
      tImg.onerror = imgLoaded;
      tImg.src     = img[i].src;
    }    
  }
  document.addEventListener('DOMContentLoaded', loadbar, false);
}());



</script>
<div id="overlay">
  <div id="progstat"></div>
  <div id="progress"></div>
</div>
<div class="container wallpapercustompage" id="container">
  <div class="row">
    <div class="col-lg-8">
      <div class="mainImage">
        <?php 
          $imid ='';
          if($src){
            $defaultimg = $src;
            $dataimage = $imgname;
            $imid = 'mainImageSrc';
          }else{
            $defaultimg = $WallpaperDefaultImg;
            $dataimage = '10221276943_45e198c6c6_4k.jpg';
          }
          ?>
        <div class="image-wrapper" id="image-4-wrapper">
          <img class="custmainImageSrc" src="<?php echo $defaultimg ?>" id="mainImageSrc" img-height="" img-width=""/>        
          <img src="" class="custmainImageSrc custimgid" id="" imgid="" img-height="" img-width="" style="display: none;" />
        </div>
      </div>
      <div class="actions-save" style="display:none;">
          <button type="button" class="action-cancel" data-role="cancel-button" data-image="<?php echo $dataimage; ?>" data-type="jpg" title="<?php echo __('Cancel'); ?>"><span><?php echo __('Cancel'); ?></span></button>
          <button type="button" class="action-apply" data-role="apply-button" data-image="<?php echo $dataimage; ?>" data-type="jpg" title="<?php echo __('Apply'); ?>"><span><?php echo __('Apply'); ?></span></button>
      </div>
      <div class="actions">
          <button type="button" class="action-flip" data-role="flip-button" data-image="<?php echo $dataimage; ?>" data-type="jpg" title="<?php echo __('Flip image'); ?>"><span><?php echo __('Flip image'); ?></span></button>
          <button type="button" class="action-bw" data-role="bw-button" data-image="<?php echo $dataimage; ?>" data-type="jpg" title="<?php echo __('Black & White Filter'); ?>"><span><?php echo __('Black & White Filter'); ?></span></button>
          <button type="button" class="action-sepia" data-role="sepia-button" data-image="<?php echo $dataimage; ?>" data-type="jpg" title="<?php echo __('Sepia Filter'); ?>"><span><?php echo __('Sepia Filter'); ?></span></button>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="calcwrap">
      <a class="clttl" href="javascript:void(0)">Jetzt Bedarf berechnen</a>
      <div class="innerDiv">
      <form class="form-horizontal"  id="frm_attachment" name="frm_attachment" method="post" enctype="multipart/form-data" action="<?php echo $this->getUrl(); ?>wallpaper/index/customize">
          <div class="browse-wrap">
            <input accept="image/*" id="attachment" name="attachment" type="file" value="">
          </div>
          
          <div class="row">
            <button type="submit" id="uploadAttachment" class="btn btn-primary"><?php echo __('Submit'); ?></button>
          </div>
      </form>

      <form class="form-horizontal"  id="frm_addtocart" name="frm_addtocart" method="post" enctype="multipart/form-data" action="<?php echo $this->getUrl(); ?>wallpaper/index/addtocart">
      <div id="attachmentFiles"><?php echo $html; ?></div>
          <div class="row">
            <div class="tooltipsdiv">
                <p class="tooltips">Gewünschtes Format eingeben: <i class="fa fa-info-circle"></i></p>
                <span class="tooltiptext">
                    <p><?php echo $this->helper('Magemonkeys\Wallpaper\Helper\Data')->Tooltip(); ?></p>
                  </span> 
            </div>
          </div>
          <div class="row cropdiv">
          <div class="col-lg-3">
              <label for="height">Höhe:</label>  
              <input id="height" type="text" onkeypress="return onlyNumberKey(event)">
              <input id="height1" type="hidden" name="wallpaper_height">
              <span class="cm">CM</span>
              <div><span class="heighterrormsg" style="display: none;color: #ff0000;"></span></div>
          </div>
          <div class="col-lg-3">
              <label for="width">Breite:</label> 
              <input id="width" class="imgwidth" type="text" onkeypress="return onlyNumberKey(event)">
              <input id="width1" type="hidden" name="wallpaper_width">
              <span class="cm">CM</span>
              <span class="widtherrormsg" style="display: none;color: #ff0000;"></span>
          </div>
          
          <div class="col-lg-3">
              <label for="area">Fläche:</label>  
              <input id="area" name="wallpaper_area" type="text" disabled="disabled">
              <span class="cm">M<sup>2</sup></span>
          </div>
          <div style="display: none;">
              <label for="x">x:</label>  
              <input id="x" name="wallpaper_x" type="text">
          </div>
          <div style="display: none;">
              <label for="y">y:</label>  
              <input id="y" name="wallpaper_y" type="text">
          </div>
          <div class="col-lg-3">
              <label for="area"><?php echo __('Size');?>:</label>  
              <select name="wallpaper_size" id="wallpaper_size">
                <option value="">Select size</option>
                <option widthmm="2000" heightmm="1330" value="M - 2000 mm x 1330 mm">M - 2000 mm x 1330 mm</option>
                <option widthmm="3000" heightmm="2500" value="L - 3000 mm x 2500 mm">L - 3000 mm x 2500 mm</option>
                <option widthmm="4000" heightmm="2670" value="XL - 4000 mm x 2670 mm">XL - 4000 mm x 2670 mm</option>
                <option widthmm="5000" heightmm="3330" value="XXL - 5000 mm x 3330 mm">XXL - 5000 mm x 3330 mm</option>
              </select>
              
          </div>
          <input type="button" class="cropimg" value="cr" style="display: none;">   
          <input type="hidden" name="WallpaperfileType" id="WallpaperfileType" value="<?php echo $type; ?>" />          
          <input type="hidden" name="productprice" id="productprice" value="<?php echo $price; ?>" />          
          <input type="hidden" name="productnameid" id="productnameid" value="<?php echo $productnameid; ?>" />          
          <?php  
            if($price){
                $setprice = $price;
                $disabled = '';
            }else{
                $setprice = '0.00';
                $disabled = 'disabled="disabled"';
            }
          ?>          
          <div class="proprice"><span><?= $setprice ?> </span>€</div>
          <button type="submit" <?=$disabled?> id="addtocart" class="addtocart btn btn-primary"><?php echo __('In den Warenkorb'); ?></button>       
        </div>
        </form>
      </div>
      </div>
      </div>
  </div>
</div>  
  <!-- </div> -->
<!-- </div> -->

<style type="text/css">
    .mainImage-image-grayscale{ -webkit-filter: grayscale(100%); -moz-filter: grayscale(100%); -o-filter: grayscale(100%); -ms-filter: grayscale(100%); filter: grayscale(100%); }

    .mainImage-image-sepia{ -webkit-filter: sepia(100%); -moz-filter: sepia(100%); -o-filter: sepia(100%); -ms-filter: sepia(100%); filter: sepia(100%); }

    .mainImage-image-flip{ transform: scale(-1, 1); -moz-transform: scale(-1, 1); -webkit-transform: scale(-1, 1); -o-transform: scale(-1, 1); -khtml-transform: scale(-1, 1); -ms-transform: scale(-1, 1); }
</style>


<script>

function getSizeInCM (sizeInPX) {  
   return sizeInPX * 2.54 / (96 * window.devicePixelRatio)
};

function onlyNumberKey(evt) {           
    // Only accept digit
    var ASCIICode = (evt.which) ? evt.which : evt.keyCode 
    if (ASCIICode > 31 && (ASCIICode < 48 || ASCIICode > 57)) 
        return false; 
    return true; 
} 

require(['jquery','domReady!', 'jqueryCrop', 'rcrop'], function ($) {
      /**** Delete Image & Image Effects ****/
        $(document).on('click', '#attachmentFiles .action-remove', function(){
           if (window.confirm("Are you sure you want to delete?")) {
               var attachmentPath = $(this).attr("data-image");
               var divID = $(this).parents(".base-image").attr("id");
               var imageID = $(this).parents(".base-image").find(".hiddneattachID").val();
               $('body').trigger('processStart');
               jQuery.ajax({
                    url: "<?php echo $this->getUrl(); ?>wallpaper/index/deleteCustomize?isAjax=true",
                    type: "POST",
                    data: {filename: attachmentPath, form_key: window.FORM_KEY, imageID:imageID, key:divID},
                    showLoader: true,
                    success: function (response) {
                        if(response.success == true){
                            var parentElements = $(".base-image#"+divID).prev().children();
                            var parentElements1 = $(".base-image#"+divID).children();
                            if(response.data.exist != 'done'){
                                //alert(response.data.exist);
                                parentElements1.find('.wallpaper-image').after('<span class="errormsg">'+response.data.exist+'</span>');
                              }else{
                                $(".base-image#"+divID).remove();                              
                                if($(".base-image").length > 0)
                                {
                                  $('#mainImageSrc').attr("src",parentElements.find('.wallpaper-image').attr('src'));
                                  parentElements.find('.selectImage').attr('checked','checked');
                                  var srcFilename = parentElements.find('.selectImage').attr('data-srcfilename');
                                  var srcType = parentElements.find('.selectImage').attr('data-srctype');
                                  $('.action-bw').attr('data-image',srcFilename).attr('data-type',srcType);
                                  $('.action-sepia').attr('data-image',srcFilename).attr('data-type',srcType);
                                  $('.action-flip').attr('data-image',srcFilename).attr('data-type',srcType);
                                  $('.action-cancel').attr('data-image',srcFilename).attr('data-type',srcType);
                                  $('.action-apply').attr('data-image',srcFilename).attr('data-type',srcType);
                                  $('#WallpaperfileType').val(srcType);
                                }
                                else
                                {
                                  $('#mainImageSrc').attr("src", "<?php echo $WallpaperDefaultImg; ?>");
                                  var srcFilename = '10221276943_45e198c6c6_4k.jpg';
                                  var srcType = 'jpg';
                                  $('.action-bw').attr('data-image',srcFilename).attr('data-type',srcType);
                                  $('.action-sepia').attr('data-image',srcFilename).attr('data-type',srcType);
                                  $('.action-flip').attr('data-image',srcFilename).attr('data-type',srcType);
                                  $('.action-cancel').attr('data-image',srcFilename).attr('data-type',srcType);
                                  $('.action-apply').attr('data-image',srcFilename).attr('data-type',srcType);
                                  $('#WallpaperfileType').val(srcType);
                                }

                            }
                        }
                        $('body').trigger('processStop');
                    },
                   error: function (response) {
                        alert(response.message);
                   }
                });
           } 
        });


        $(document).on('click', '.action-bw', function(){
           var attachmentPath = $(this).attr("data-image");
           $('.mainImage').addClass('mainImage-image-grayscale');
           $('div.actions').hide();
           $('div.actions-save').show();
           $('.action-apply').attr('data-action', '1');
        });        

        $(document).on('click', '.action-sepia', function(){
           var attachmentPath = $(this).attr("data-image");
           $('.mainImage').addClass('mainImage-image-sepia');
           $('div.actions').hide();
           $('div.actions-save').show();
           $('.action-apply').attr('data-action', '2');
        });

        $(document).on('click', '.action-flip', function(){
           var attachmentPath = $(this).attr("data-image");
           $('.mainImage').addClass('mainImage-image-flip');
           $('div.actions').hide();
           $('div.actions-save').show();
           $('.action-apply').attr('data-action', '3');
        });

        /*crop img strat*/        
        $(document).on('click', '.action-cancel', function(){
           $('.rcrop-croparea.clayfy-box, .rcrop-outer').css("display", "none");
           if($('.action-apply').attr('data-action')=='4'){
              location.reload();
           }
        });

        var imgsrc = $('#mainImageSrc').attr("src");
        var defaultimg = '<?php echo $WallpaperDefaultImg; ?>';

        if(imgsrc != defaultimg){
          setTimeout(function(){   
            if(parseFloat($('#area').val()) > parseFloat(2)){
              $('#height, #width').prop('readonly', false); 
              $('#wallpaper_size').prop('disabled', false); 
              $('.errormsg_meter').remove();             
            }else{
              $('#height, #width, #wallpaper_size').prop('readonly', true);  
              $('#wallpaper_size').prop('disabled', true);  
              $('.cropimg').before('<span class="errormsg_meter">Uploaded image must not be less then 2 M<sup>2</sup></span>');
            }
          },1000);
        }
           

          $(document).on('change', '#height, #width', function(){  
            $('#wallpaper_size').val('');        
            var img_height = $('#mainImageSrc').attr('img-height');
            var img_width = $('#mainImageSrc').attr('img-width');
            var flag = 1;
            if(parseInt($('.imgwidth').val()) > parseInt(img_width)){
              $('.widtherrormsg').text('Width not allowed more than '+img_width);
              $('.rcrop-croparea.clayfy-box, .rcrop-outer').hide();
              $('.widtherrormsg').show();
              flag=0;
            }
            if(parseInt($('#height').val()) > parseInt(img_height)){
              $('.heighterrormsg').text('Height not allowed more than '+img_height);
              $('.rcrop-croparea.clayfy-box, .rcrop-outer').hide();
              $('.heighterrormsg').show();
              flag=0;
            }
            if(flag==1){
              $(".cropimg").trigger("click");                 
              $('.rcrop-croparea.clayfy-box, .rcrop-outer').show();
              $('div.actions').hide();
              $('div.actions-save').show();                
              $('.action-apply').attr('data-action', '4');
              $('.widtherrormsg').hide();
              $('.heighterrormsg').hide();   
            }

            /*price calculation start*/
            var meter = (parseInt($('#height').val()) * parseInt($('#width').val()))*(0.01*0.01);
            $('#area').val(meter.toFixed(2));
            var mprice = '<?php echo $PerMeterPrice; ?>';
            var total = meter * mprice;          
            if (total){
                $('.proprice > span').text(total.toFixed(2));
                $('.proprice').attr('data-price',total.toFixed(2));
            }else{
                $('.proprice > span').text('0.00');
            }
            /*price calculation end*/
            
          });
        
        /*crop img end*/        
        
        $(document).on('click', '.action-cancel', function(){
           var attachmentPath = $(this).attr("data-image");
           $('.mainImage').removeClass('mainImage-image-grayscale').removeClass('mainImage-image-sepia').removeClass('mainImage-image-flip');
           $('div.actions').show();
           $('div.actions-save').hide();
           $('.action-apply').removeAttr('data-action');
        });

        /******** selectImage  *********/

        $(document).on('change', "input[name='selectImage']", function(){
            var srcPath = $(this).attr("data-src");
            var srcType = $(this).attr("data-srctype");
            var srcFilename = $(this).attr("data-srcfilename");

            $('.action-bw').attr('data-image',srcFilename).attr('data-type',srcType);
            $('.action-sepia').attr('data-image',srcFilename).attr('data-type',srcType);
            $('.action-flip').attr('data-image',srcFilename).attr('data-type',srcType);
            $('.action-cancel').attr('data-image',srcFilename).attr('data-type',srcType);
            $('.action-apply').attr('data-image',srcFilename).attr('data-type',srcType);
            $('.custmainImageSrc').attr("src", srcPath);
            $('#WallpaperfileType').val(srcType);
            
            
            var defaultimage = $(this).val();            
            jQuery.ajax({
                url: "<?php echo $this->getUrl(); ?>wallpaper/index/DefaultImageSet?isAjax=true",
                type: "POST",                
                dataType: 'json',
                data: {                  
                  defaultimage:defaultimage,                  
                },
                showLoader: true,
                success: function (response) {
                  if(response.error == false)
                  {
                    $('.proprice').attr("data-price",response.data.pricedata);
                    $('.proprice span').text(response.data.pricedata);

                    if(response.data.pricedata == '0'){                      
                      $('#addtocart').prop('disabled', true);  
                    }else{
                      $('#addtocart').prop('disabled', false);
                    }
                    $('#productprice').val(response.data.pricedata);
                    $('#productnameid').val(response.data.id);                                       
                    
                  }

                  $("<img>").attr("src", response.data.path).load(function(){
                      var realWidth = this.width;
                      var realHeight = this.height;
                      var width = getSizeInCM(realWidth);
                      var height = getSizeInCM(realHeight);
                      if(response.data.max_height!='0'){
                        $('#mainImageSrc').attr('img-height',Math.round(response.data.max_height));
                        $('#mainImageSrc').attr('img-width',Math.round(response.data.max_width)); 
                      }else{
                        $('.custmainImageSrc').attr('img-height',Math.round(height));
                        $('.custmainImageSrc').attr('img-width',Math.round(width)); 
                      }
                      if(response.data.height!='0'){
                        $('#height, #height1').val(response.data.height);
                        $('#width, #width1').val(response.data.width);
                      }else{
                        $('#height, #height1').val(Math.round(height));
                        $('#width, #width1').val(Math.round(width));
                      }

                      var meter = (parseInt(height) * parseInt(width))*(0.01*0.01);
                        $('#area').val(meter.toFixed(2));                   
                    });
              }            
        
        });

        });


        /**************Action apply****************/

        $(document).on('click', '.action-apply', function(){
            var imageName = $(this).attr("data-image");
            var imageType = $(this).attr("data-type");
            var imageAction = $(this).attr("data-action"); 
            var max_height = $('.custmainImageSrc').attr('img-height');
            var max_width = $('.custmainImageSrc').attr('img-width');
            var main_width = $('#width').val();
            var main_height = $('#height').val();          
            var width = $('#width1').val();
            var height = $('#height1').val();
            var custcrop_x = $('#x').val();
            var custcrop_y = $('#y').val(); 
            var crop_height = Math.floor(height * 37.795276);
            var crop_width = Math.floor(width * 37.795276);
            /*var crop_x = Math.floor(custcrop_x * 37.795276);
            var crop_y = Math.floor(custcrop_y * 37.795276);*/
            var price = $('.proprice').attr("data-price");            
            $('#mainImageSrc').hide();
            var mainimgid = $('.custmainImageSrc.custimgid').attr('imgid');
            if(mainimgid == ''){
              var crntid = 1;
              $('.custmainImageSrc.custimgid').attr('imgid',crntid);
              $('.custimgid').attr('id','mainImageSrc_'+crntid);
              $('#mainImageSrc_'+crntid).show();  
            }else{
              var crntid = $('.custmainImageSrc.custimgid').attr('imgid');
              crntid = parseInt(crntid) + parseInt(1);
              $('.custmainImageSrc.custimgid').attr('imgid',crntid);

              $('.custimgid').attr('id','mainImageSrc_'+crntid);
              $('#mainImageSrc_'+crntid).show();  
            }

            $('body').trigger('processStart');           
            jQuery.ajax({
                url: "<?php echo $this->getUrl(); ?>wallpaper/index/imageCustomize?isAjax=true",
                type: "POST",                
                dataType: 'json',
                data: {
                  filename: imageName, 
                  fileType:imageType, 
                  fileAction:imageAction,
                  crop_height:crop_height,
                  crop_width:crop_width,
                  main_height:main_height,
                  main_width:main_width,
                  max_height:max_height,
                  max_width:max_width,
                  crop_x:custcrop_x,
                  crop_y:custcrop_y,
                  price:price
                },
                showLoader: true,
                success: function (response) {
                  if(response.error == false)
                  {
                    $('.action-bw').attr('data-image',response.data.filename).attr('data-type',response.data.fileType);
                    $('.action-sepia').attr('data-image',response.data.filename).attr('data-type',response.data.fileType);
                    $('.action-flip').attr('data-image',response.data.filename).attr('data-type',response.data.fileType);
                    $('.action-cancel').attr('data-image',response.data.filename).attr('data-type',response.data.fileType);
                    $('.action-apply').attr('data-image',response.data.filename).attr('data-type',response.data.fileType);
                    $('#WallpaperfileType').val(response.data.fileType);
                    $('#productnameid').val(response.data.id);

                    $('.mainImage').removeClass('mainImage-image-grayscale').removeClass('mainImage-image-sepia').removeClass('mainImage-image-flip');
                    $('div.actions').show();
                    $('div.actions-save').hide();
                    $('.action-apply').removeAttr('data-action');

                    $("#attachmentFiles").append(response.data.html); 

                    $('#height, #height1').val(response.data.height);
                    $('#width, #width1').val(response.data.width); 

                    $('#mainImageSrc').attr('img-height',Math.round(response.data.max_height));
                    $('#mainImageSrc').attr('img-width',Math.round(response.data.max_width));                  

                    $('.selectImage').trigger('click');

                    /*$('#mainImageSrc').attr("src", response.data.path);*/
                    $('#mainImageSrc_'+crntid).attr("src", response.data.path);

                    $('.rcrop-croparea.clayfy-box, .rcrop-outer').css("display", "none");

                    $('#addtocart').prop('disabled', false);

                    // Create dummy image to get real width and height
                    $("<img>").attr("src", response.data.path).load(function(){
                      var realWidth = this.width;
                      var realHeight = this.height;
                      var width = getSizeInCM(realWidth);
                      var height = getSizeInCM(realHeight);
                      /*$('#mainImageSrc').attr('img-height',Math.round(height));
                      $('#mainImageSrc').attr('img-width',Math.round(width));*/

                      /*$('#height, #height1').val(Math.round(height));
                      $('#width, #width1').val(Math.round(width));*/  

                      /*price calculation start*/
                        var meter = (parseInt(height) * parseInt(width))*(0.01*0.01);
                        $('#area').val(meter.toFixed(2));
                        var mprice = '<?php echo $PerMeterPrice; ?>';
                        var total = meter * mprice;
                        if (total){
                            $('.proprice > span').text(total.toFixed(2));
                            $('.proprice').attr('data-price',total.toFixed(2));
                        }else{
                            $('.proprice > span').text('0.00');
                        }
                        /*price calculation end*/                       
                    });

                    setTimeout(function(){
                      location.reload();
                    },1000);

                  }
                  else
                  {
                    $('.mainImage').removeClass('mainImage-image-grayscale').removeClass('mainImage-image-sepia').removeClass('mainImage-image-flip');
                    $('div.actions').hide();
                    $('div.actions-save').show();
                    alert(response.message);
                  }   
                  $('body').trigger('processStop'); 

                },
               error: function (response) {
                    alert(response.message);                    
               }
            });
        });
        

        /**** Upload Image ****/
        $('#uploadAttachment').click(function(e){e.preventDefault();  $('#attachment').trigger('click'); });
        
        $("#attachment").change(function(){
          $('#mainImageSrc').hide();
          var mainimgid = $('.custmainImageSrc.custimgid').attr('imgid');
          if(mainimgid == ''){
            var crntid = 1;
            $('.custmainImageSrc.custimgid').attr('imgid',crntid);
            $('.custimgid').attr('id','mainImageSrc_'+crntid);
            $('#mainImageSrc_'+crntid).show();  
          }else{
            var crntid = $('.custmainImageSrc.custimgid').attr('imgid');
            crntid = parseInt(crntid) + parseInt(1);
            $('.custmainImageSrc.custimgid').attr('imgid',crntid);

            $('.custimgid').attr('id','mainImageSrc_'+crntid);
            $('#mainImageSrc_'+crntid).show();  
          }
          
            var data = $("#frm_attachment").get(0);            
            $('body').trigger('processStart');
            jQuery.ajax({
              url: "<?php echo $this->getUrl(); ?>wallpaper/index/addCustomize?isAjax=true",
              type: "POST",
              dataType: 'json',
              showLoader: true,
              data: new FormData(data),
              processData: false,
              contentType: false,
              showLoader: true,
              success: function (response) {
                  if(response.error == false)
                  {
                    $('.action-bw').attr('data-image',response.data.filename).attr('data-type',response.data.fileType);
                    $('.action-sepia').attr('data-image',response.data.filename).attr('data-type',response.data.fileType);
                    $('.action-flip').attr('data-image',response.data.filename).attr('data-type',response.data.fileType);
                    $('.action-cancel').attr('data-image',response.data.filename).attr('data-type',response.data.fileType);
                    $('.action-apply').attr('data-image',response.data.filename).attr('data-type',response.data.fileType);
                    $('#WallpaperfileType').val(response.data.fileType);

                    $('div.actions').show();

                    $("#attachmentFiles").append(response.data.html);
                    $('#mainImageSrc_'+crntid).attr("src", response.data.path);                    
                    $('#frm_attachment')[0].reset();

                    // Create dummy image to get real width and height
                    $("<img>").attr("src", response.data.path).load(function(){
                      var realWidth = this.width;
                      var realHeight = this.height;
                      var width = getSizeInCM(realWidth);
                      var height = getSizeInCM(realHeight);
                      $('#mainImageSrc_'+crntid).attr('img-height',Math.round(height));
                      $('#mainImageSrc_'+crntid).attr('img-width',Math.round(width));

                      $('#mainImageSrc').attr('img-height',Math.round(height));
                      $('#mainImageSrc').attr('img-width',Math.round(width));

                      $('#height1, #height').val(Math.round(height));
                      $('#width1, #width').val(Math.round(width));

                      /*price calculation start*/
                        var meter = (Math.round(height) * Math.round(width))*(0.01*0.01);
                        $('#area').val(meter.toFixed(2));
                        var mprice = '<?php echo $PerMeterPrice; ?>';
                        var total = meter * mprice;
                        if (total){
                            $('.proprice > span').text(total.toFixed(2));
                            $('.proprice').attr('data-price',total.toFixed(2));
                        }else{
                            $('.proprice > span').text('0.00');
                        }
                        /*price calculation end*/ 
                        
                        setTimeout(function(){
                          //console.log($('#area').val());   
                          if(parseFloat($('#area').val()) > parseFloat(2)){                        
                            $('#height, #width').prop('readonly', false); 
                            $('#wallpaper_size').prop('disabled', false); 
                            $('.errormsg_meter').remove();                                  
                          }else{                        
                            $('#height, #width').prop('readonly', true);  
                            $('#wallpaper_size').prop('disabled', true); 
                            $('.cropimg').before('<span class="errormsg_meter">Uploaded image must not be less then 2 M<sup>2</sup></span>');
                          }
                        },1000);
                    }); 

                    /********* crop area center **************/
                    $("#width, #height").bind("keyup change", function(e) {
                      var $customerInputWidth = $('#width1').val();
                      var $customerInputHeight = $('#height1').val();
                      var $ratio = $customerInputWidth / $customerInputHeight;
                      var myImg = document.querySelector('#mainImageSrc_'+crntid);
                      var $imageWidth = myImg.naturalWidth;
                      var $imageHeight = myImg.naturalHeight;
                      var $maxPossibleWidth = $imageWidth;
                      var $maxPossibleHeight = $maxPossibleWidth / $ratio;

                      if ($maxPossibleHeight <= $imageHeight) {
                          var width = $maxPossibleWidth;
                          var height = $maxPossibleHeight;
                      } else {                        
                          $ratio = $customerInputHeight / $customerInputWidth;
                          $maxPossibleHeight = $imageHeight;
                          $maxPossibleWidth = $maxPossibleHeight / $ratio;
                          var width = $maxPossibleWidth;
                          var height = $maxPossibleHeight;
                      }             
                      var x = $imageWidth / 2 - width / 2 ;
                      var y = $imageHeight / 2 - height / 2                            
                      $('#x').val(x);
                      $('#y').val(y);
                    });
                    /********* crop area center end **************/
                    
                    $('#mainImageSrc').remove();

                    var $image2 = jQuery('#mainImageSrc_'+crntid),
                    $update = $('.cropimg'),
                    inputs = {
                        x : $('#x'),
                        y : $('#y'),
                        width : $('#width1'),
                        height : $('#height1')
                    },
                    fill = function(){
                        var values = $image2.rcrop('getValues');
                        for(var coord in inputs){
                           inputs[coord].val(values[coord]);                       
                        }
                        $('#mainImageSrc_'+crntid).attr('img-height',values['height']);
                        $('#mainImageSrc_'+crntid).attr('img-width',values['width']);                        
                       
                    }
                    $image2.rcrop();

                    $image2.on('rcrop-changed rcrop-ready', fill);
                
                    $update.click(function(){
                      /*var $customerInputHeight = Math.round(inputs.height.val() * 37.7952755906);
                      var $customerInputWidth = Math.round(inputs.width.val() * 37.7952755906);*/
                      var $customerInputWidth = inputs.width.val(); 
                      var $customerInputHeight = inputs.height.val();                           
                      var $ratio = $customerInputWidth / $customerInputHeight;
                      var myImg = document.querySelector('#mainImageSrc_'+crntid);
                      var $imageWidth = myImg.naturalWidth;
                      var $imageHeight = myImg.naturalHeight;
                      var $maxPossibleWidth = $imageWidth;
                      var $maxPossibleHeight = $maxPossibleWidth / $ratio;

                      if ($maxPossibleHeight <= $imageHeight) {
                          var width = $maxPossibleWidth;
                          var height = $maxPossibleHeight;
                      } else {                        
                          $ratio = $customerInputHeight / $customerInputWidth;
                          $maxPossibleHeight = $imageHeight;
                          $maxPossibleWidth = $maxPossibleHeight / $ratio;
                          var width = $maxPossibleWidth;
                          var height = $maxPossibleHeight;                           
                      }

                      var ww = getSizeInCM(width);
                      var hh = getSizeInCM(height);
                      $('#width1').val(Math.round(ww));
                      $('#height1').val(Math.round(hh));

                      $image2.rcrop('resize', width, height, inputs.x.val(), inputs.y.val());
                      
                    });  
                  
                  }
                  else
                  {
                    alert(response.message);
                    $('#frm_attachment')[0].reset();
                  }

                  $('body').trigger('processStop');

              },
              error: function (response) {
                alert(response.message);                
                $('#frm_attachment')[0].reset();
              }
            });
        });    
});
</script>