<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

/** @var $block \Magento\Checkout\Block\Cart\Item\Renderer\Actions\Edit */

$Sessionhelper = $this->helper('Magemonkeys\Wallpaper\Helper\Data')->getWallpaperSession()->getData('wallpaper_value');


$_item = $block->getItem();
$product = $_item->getProduct();
$productUrl = '';
if(!empty($Sessionhelper))
  {
    $id = array('');
    foreach ($Sessionhelper as $key => $value) {
      $id[] = $value['id'];
    }  
    $proname = explode(' ', $product->getName());    
    if(in_array($proname[1], $id)){
      $productUrl = $this->getUrl().'wallpaper?item='.$proname[1];
    }else{
      $productUrl = $block->getConfigureUrl();
    }
    
  }

?>
<?php if ($block->isProductVisibleInSiteVisibility()) :?>
    <a class="action action-edit"
       href="<?= $block->escapeUrl($productUrl) ?>"
       title="<?= $block->escapeHtmlAttr(__('Edit item parameters')) ?>">
        <span><?= $block->escapeHtml(__('Edit')) ?></span>
    </a>
<?php endif ?>
