<?php

$_productCollection = $block->getLoadedProductCollection();
$_imagehelper = $this->helper('Magento\Catalog\Helper\Image');
$_helper = $this->helper('Magento\Catalog\Helper\Output');

if (!$_productCollection->count()){ ?>
    
    <div class="message info empty"><div><?php echo __('We can\'t find products matching the selection.') ?></div></div>

<?php }else{ ?>

<div class="container">
  <div class="row">
    
  
   
<?php 
    $image = 'category_page_grid';
    foreach ($_productCollection as $_product){
        //echo "<pre>"; print_r($_product->debug()); echo "</pre>"; 
        $productImage = $_imagehelper->init($_product, $image)->constrainOnly(FALSE)->keepAspectRatio(TRUE)->keepFrame(FALSE)->resize('400');
        $productImageUrl = $productImage->getUrl();
        ?>
        
        <div class="col-3 groupedproductlist">
            <div class="productlist">
                <div class="product-image">
                    <a class="product-item-link" href="<?php echo $_product->getProductUrl() ?>">
                        <img src="<?php echo $productImageUrl; ?>" width="250"/>
                    </a>
                </div>
                <strong>
                    <a class="product-item-link" href="<?php echo $_product->getProductUrl() ?>">
                        <?php echo $_helper->productAttribute($_product, $_product->getName(), 'name'); ?>
                    </a>
                </strong>
            </div>
        </div>    

<?php } ?>
    </div>  
</div>

<?php } ?>
                