.calcwrap {
    background: #F6F6F6;
    box-shadow: 0px 3px 6px #00000029;
}
.calcwrap .clttl {
    background: #7F7B8D;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 6px 6px 0px 0px;
    color: #F2F2F2;
    letter-spacing: 0.36px;
    font-size: 18px;
    font-weight: 600;
    display: block;
    text-align: center;
    padding: 12px 5px;
    position: relative;
}
.calcwrap .clttl:before {
    background: url(../images/jet-img.png) no-repeat;
    width: 23px;
    height: 30px;
    position: absolute;
    left: 27px;
    top: 10px;
    content: "";
    background-size: 23px;
}
.calcwrap .ttl {
    padding: 28px;
    border-bottom: 1px solid #C9C6D4;
}
.calcwrap .ttlflex {
    display: flex;
}
.calcwrap .ttlflex .cl {
    display: flex;
    flex-direction: column;
    padding: 0px 4px;
}
.calcwrap .ttlflex .cl label {
    font-size: 12px;
}
.calcwrap .clgray input[type="text"] {
    background: #FCFCFC;
    border: none;
    height: 28px;
}
.calcwrap .ttlflex .cl {
    display: flex;
    flex-direction: column;
    padding: 0px 4px;
}
.calcwrap .ttlflex .cl {
    display: flex;
    flex-direction: column;
    padding: 0px 4px;
}
.calcwrap .ttlflex .cl .cross {
    padding-top: 29px;
}
.calcwrap .ttlflex .cl label {
    font-size: 12px;
}
.calcwrap .clgray .ttlprice {
    margin-top: 24px;
}
.calcwrap .clgray .ttlprice h3 {
    font-size: 16px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
}
.calcwrap .clgray .ttlprice p {
    font-size: 13px;
    font-weight: 300;
}
.box-tocart .action.tocart:not(:last-child) {
    margin-bottom: 15px;
}


.predefinedwallpaper .clayfy-handler.clayfy-top.left, .clayfy-handler.clayfy-top.right, .clayfy-handler.clayfy-bottom.left, .clayfy-handler.clayfy-bottom.right, .clayfy-handler.clayfy-left, .clayfy-handler.clayfy-right, .clayfy-handler.clayfy-top, .clayfy-handler.clayfy-bottom {
    cursor: none;
    display: none !important;
}
.predefinedwallpaper .rcrop-croparea.clayfy-box, .rcrop-outer {
    display: none;
}
.predefinedwallpaper .pro_label {
    display: none;
}
.predefinedwallpaper .main .product.media {
    display: inherit;
    position: relative;
    margin-left: 0;
    width: 66%;
}
.predefinedwallpaper .brandimg, .predefinedwallpaper .page-title-wrapper.product, .predefinedwallpaper .product-info-price{ display: none; }
.predefinedwallpaper .main .product-add-form {
    padding-top: 0;
}
.predefinedwallpaper .main select#wallpaper_size {
    border: 1px solid #393939;
    border-radius: 4px;
    font-size: 14px;
    letter-spacing: 0.56px;
    color: #352F4E;
    height: 28px;
    width: auto;
    margin-left: 10px;
}
.predefinedwallpaper .calcwrap .clgray .row {
    padding: 10px 25px;
}
.mainImage-image-flip{ transform: scale(-1, 1); -moz-transform: scale(-1, 1); -webkit-transform: scale(-1, 1); -o-transform: scale(-1, 1); -khtml-transform: scale(-1, 1); -ms-transform: scale(-1, 1); }
div#wallpaper_size-error {
    margin-left: 45px;
}

/**** popuip css *****/

/* The Modal (background) */
.cust-model-popup {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 9999; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.row.custpopup {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 100%;
  max-width: 500px;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.wallpaper-btn {
    background: #494949;
    padding: 10px 50px;
    cursor: pointer;
    color: #fff;
    margin-top: 15px;
    text-align: center;
}
.wallpaper-btn span {
    font-size: 20px;
}
.custpopup .top-content{
    text-align: center;
}
.custpopup .top-content h3.popup__title {
    font-size: 20px;
    font-weight: 600;
}
.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
span.width_m2, span.height_m2 {
    font-weight: 600;    
    margin-left: 5px;
    margin-top: 5px;
}


/***** tooltip *******/

.predefinedwallpaper .tooltips {
  position: relative;
  display: inline-block;  
}

.predefinedwallpaper .tooltips .tooltiptext {
    visibility: hidden;
    width: 235px;
    background-color: #7F7B8D;
    color: #fff;
    border-radius: 6px;
    padding: 6px 10px;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
}

.predefinedwallpaper .tooltips:hover .tooltiptext {
  visibility: visible;
}
.predefinedwallpaper .tooltips .tooltiptext h3 {
  color: #fff;
}
.predefinedwallpaper .tooltiptext p{
  font-weight: 500;
  font-size: 14px !important;
}


.predefinedwallpaper #image-4-wrapper .rcrop-outer-wrapper{
    opacity: .75;
}
.predefinedwallpaper #image-4-wrapper .rcrop-outer{
    background: #000
}
.predefinedwallpaper #image-4-wrapper .rcrop-croparea-inner{
    border: 1px dashed #fff;
}

.predefinedwallpaper #image-4-wrapper .rcrop-handler-corner{
    width:12px;
    height: 12px;
    background: none;
    border : 0 solid #51aeff;
}
.predefinedwallpaper #image-4-wrapper .rcrop-handler-top-left{
    border-top-width: 4px;
    border-left-width: 4px;
    top:-2px;
    left:-2px
}
.predefinedwallpaper #image-4-wrapper .rcrop-handler-top-right{
    border-top-width: 4px;
    border-right-width: 4px;
    top:-2px;
    right:-2px
}
.predefinedwallpaper #image-4-wrapper .rcrop-handler-bottom-right{
    border-bottom-width: 4px;
    border-right-width: 4px;
    bottom:-2px;
    right:-2px
}
.predefinedwallpaper #image-4-wrapper .rcrop-handler-bottom-left{
    border-bottom-width: 4px;
    border-left-width: 4px;
    bottom:-2px;
    left:-2px
}
.predefinedwallpaper #image-4-wrapper .rcrop-handler-border{
    display: none;
}

.predefinedwallpaper #image-4-wrapper .clayfy-touch-device.clayfy-handler{
    background: none;
    border : 0 solid #51aeff;
    border-bottom-width: 6px;
    border-right-width: 6px;
}
.predefinedwallpaper .pro-tag {
    display: none;
}
.predefinedwallpaper span.height_msg {
    width: 150px;
    font-size: 12px;
    margin-top: 5px;
}