<?php 
$userrole = $block->getUser();	
if($userrole){	
	if($userrole->getRole()->getRoleId()==3){ ?>
		<style type="text/css">
			.admin__data-grid-pager-wrap {
			    display: none;
			}
			#sales_order_view_tabs_order_invoices,
			#sales_order_view_tabs_order_shipments,
			#sales_order_view_tabs_order_creditmemos,
			#sales_order_view_tabs_order_history,
			.item-sales-invoice,
			.item-sales-shipment,
			.item-sales-creditmemo
			{
			    display: none;
			}
		</style>

		<script type="text/javascript">
		require([ 'jquery', 'jquery/ui'], function($){ 
			$(document).ready(function($) {
				$('#sales_order_view_tabs_order_invoices, #sales_order_view_tabs_order_shipments, #sales_order_view_tabs_order_creditmemos, #sales_order_view_tabs_order_history, .item-sales-invoice, .item-sales-shipment, .item-sales-creditmemo').remove();
				$(".order-account-information-table tr:FIRST-CHILD + tr, .sales-order-index .admin__data-grid-pager-wrap, .sales-order-index .admin__data-grid-actions-wrap").remove();
			}); 
		});
		</script>
	<?php }
}
?>