<?php /** @var \Magento\Sales\Block\Adminhtml\Order\View\Items\Renderer\DefaultRenderer $block */ ?>
<?php $_item = $block->getItem() ?>
<?php $block->setPriceDataObject($_item) ?>
<tr>
    <?php $i = 0;
    $columns = $block->getColumns();
    $lastItemNumber = count($columns) ?>
    <td>
        <?php $product =  $_item->getProduct();?>
        <?php $objectManager = \Magento\Framework\App\ObjectManager::getInstance();?>

        <?php  
        $imageSize = '250';
        $storeManager = $objectManager->create('Magento\Store\Model\StoreManagerInterface'); 
        $currentStore = $storeManager->getStore();
        $mediaUrl = $currentStore->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_MEDIA);
        $imageHelper  = $objectManager->get('\Magento\Catalog\Helper\Image');        

        if($_item->getCustomImage())
        {
            $image_url = $mediaUrl.'Predefinedwallpaper/'.$_item->getCustomImage();
        }
        else
        {            
            $image_url = $imageHelper->init($product, 'small_image')->setImageFile($product->getSmallImage())->resize($imageSize, $imageSize)->getUrl();
        }


        ?>
        <img src="<?php echo $image_url;?>" />
        <a href="<?php echo $image_url;?>" target="_blank">View image</a>
    </td>
    <?php foreach ($columns as $columnName => $columnClass):?>
        <?php $i++; ?>
        <td class="<?= /* @noEscape */ $columnClass ?><?= /* @noEscape */ ($i === $lastItemNumber ? ' last' : '') ?>"><?= /* @escapeNotVerified */ $block->getColumnHtml($_item, $columnName) ?></td>
    <?php endforeach; ?>
</tr>