<?php
if ($exist = ($this->getNewProduct() && $this->getNewProduct()->getPageSize())) {
    $fetProdCollection = $this->getNewProduct();
    $productcount = $this->getProductLimit();
    $imagewidth = $this->getProductimagewidth();
    $imageheight = $this->getProductimageheight();
    $mode = 'grid';
    $title = __('New Products');
    $type = 'widget-new-grid';
    $image = 'new_products_content_widget_grid';
}
?>
<?php if ($exist): ?>
    <div class="block widget block-new-products <?php /* @escapeNotVerified */ echo $mode; ?>">
        <div class="block-title">
            <strong role="heading" aria-level="2"><?php /* @escapeNotVerified */ //echo $title; ?></strong>
        </div>
        <div class="block-content">
            <div class="products-<?php /* @escapeNotVerified */ echo $mode; ?> <?php /* @escapeNotVerified */ echo $mode; ?>">
                <ol class="product-items widget-viewed-grid <?php /* @escapeNotVerified */ echo $type; ?> owl-carousel owl-theme owl-carousel-newproduct">
                    
                        <?php $iterator = 1; ?>
                        <?php foreach ($fetProdCollection as $item):
                            $prod = $block->loadProduct($item->getId());
                            ?>
                            <?php /* @escapeNotVerified */ echo($iterator++ == 1) ? '<li class="product-item-home">' : '</li><li class="product-item-home">' ?>
                                <div class="product-item-info">
                                    <?php
                                    $imageUrl = $block->imageHelperObj()->init($prod, 'product_page_image_small')
                                    ->setImageFile($prod->getFile())
                                    ->resize($imagewidth,$imageheight)
                                    ->getUrl();
                                    ?>
                                    <a href="<?php /* @escapeNotVerified */ echo $prod->getProductUrl() ?>" class="product-item-photo">
                                    <img src="<?php echo  $imageUrl;?>" alt="<?php echo $this->escapeHtml($prod->getName()) ?>" />
                                    </a>
                                    <div class="product-item-details">
                                        <strong class="product-item-name">
                                            <a title="<?php echo $block->escapeHtml($prod->getName()) ?>"
                                            href="<?php /* @escapeNotVerified */ echo $prod->getProductUrl() ?>"
                                            class="product-item-link">
                                                <?php echo $block->escapeHtml($prod->getName()) ?>
                                            </a>
                                        </strong>
                                        <?php
                                        echo $this->getProductPriceHtml($prod, $type);
                                        ?>
                                        <div class="product-item-actions">
                                            <div class="actions-primary">
                                                <?php if ($prod->isSaleable()): ?>
                                                    <?php if ($prod->getTypeInstance()->hasRequiredOptions($prod)): ?>
                                                        <button class="action tocart primary"
                                                                data-mage-init='{"redirectUrl":{"url":"<?php /* @escapeNotVerified */ echo $block->getAddToCartUrl($prod) ?>"}}'
                                                                type="button" title="<?php /* @escapeNotVerified */ echo __('Add to Cart') ?>">
                                                            <span><?php /* @escapeNotVerified */ echo __('Add to Cart') ?></span>
                                                        </button>
                                                    <?php else: ?>
                                                        <?php
                                                            $postDataHelper = $this->helper('Magento\Framework\Data\Helper\PostHelper');
                                                            $postData = $postDataHelper->getPostData($block->getAddToCartUrl($prod), ['product' => $prod->getId()]);
                                                        ?>
                                                        <?php /*
                                                        <button class="action tocart primary"
                                                                data-post='<?php echo $postData; ?>'
                                                                type="button" title="<?php echo __('Add to Cart'); ?>">
                                                            <span><?php echo __('Add to Cart') ?></span>
                                                        </button>
                                                        */ ?>
                                                    <?php endif; ?>
                                                <?php else: ?>
                                                    <?php if ($prod->getIsSalable()): ?>
                                                        <div class="stock available"><span><?php /* @escapeNotVerified */ echo __('In stock') ?></span></div>
                                                    <?php else: ?>
                                                        <div class="stock unavailable"><span><?php /* @escapeNotVerified */ echo __('Out of stock') ?></span></div>
                                                    <?php endif; ?>
                                                <?php endif; ?>
                                            </div>
                                        </div>
                                    </div>    
                                </div>
                            <?php echo($iterator == count($fetProdCollection)+1) ? '</li>' : '' ?>
                        <?php endforeach ?>
                    
                </ol>
            </div>
        </div>
    </div>
<?php endif; ?>