<?php
$currentProduct = $block->getCurrentProduct(); 
$upSellProducts = $currentProduct->getUpSellProducts();
$objectManager = \Magento\Framework\App\ObjectManager::getInstance(); 
$helperImport = $objectManager->get('\Magento\Catalog\Helper\Image');
?>

    <div class="block widget block-onsale-products">
        <div class="block-title">
            <strong role="heading" aria-level="2"></strong>
        </div>
        <div class="block-content">
            <div class="products-grid">
                <ol class="product-items widget-viewed-grid owl-carousel owl-theme owl-carousel-bestsellerproduct">
                    
                        <?php $iterator = 1; ?>
                        <?php foreach ($upSellProducts as $_product):  
                            $prod = $objectManager->create('Magento\Catalog\Model\Product')->load($_product->getId());
                            ?>
                            <?php /* @escapeNotVerified */ echo($iterator++ == 1) ? '<li class="product-item-home">' : '</li><li class="product-item-home">' ?>
                                <div class="product-item-info">
                                    <?php
                                    $imageUrl = $helperImport->init($prod, 'product_page_image_small')
                                    ->setImageFile($prod->getSmallImage()) // image,small_image,thumbnail
                                    ->resize('282','282')
                                    ->getUrl();
                                    ?>
                                    <a href="<?php /* @escapeNotVerified */ echo $prod->getProductUrl() ?>" class="product-item-photo">
                                    <img src="<?php echo  $imageUrl;?>" alt="<?php echo $this->escapeHtml($prod->getName()) ?>" />
                                    </a>
                                    <div class="product-item-details">
                                        <strong class="product-item-name">
                                            <a title="<?php echo $block->escapeHtml($prod->getName()) ?>"
                                            href="<?php /* @escapeNotVerified */ echo $prod->getProductUrl() ?>"
                                            class="product-item-link">
                                                <?php echo $block->escapeHtml($prod->getName()) ?>
                                            </a>
                                        </strong>
                                        <?php
                                        echo $this->getProductPriceHtml($prod);
                                        ?>
                                        <div class="product-item-actions">
                                            <div class="actions-primary">
                                                <?php if ($prod->isSaleable()): ?>
                                                    <?php if ($prod->getTypeInstance()->hasRequiredOptions($prod)): ?>
                                                        <button class="action tocart primary"
                                                                data-mage-init='{"redirectUrl":{"url":"<?php /* @escapeNotVerified */ echo $block->getAddToCartUrl($prod) ?>"}}'
                                                                type="button" title="<?php /* @escapeNotVerified */ echo __('Add to Cart') ?>">
                                                            <span><?php /* @escapeNotVerified */ echo __('Add to Cart') ?></span>
                                                        </button>
                                                    <?php else: ?>
                                                        <?php
                                                            $postDataHelper = $this->helper('Magento\Framework\Data\Helper\PostHelper');
                                                            $postData = $postDataHelper->getPostData($block->getAddToCartUrl($prod), ['product' => $prod->getId()]);
                                                        ?>
                                                        <?php /*
                                                        <button class="action tocart primary"
                                                                data-post='<?php echo $postData; ?>'
                                                                type="button" title="<?php echo __('Add to Cart'); ?>">
                                                            <span><?php echo __('Add to Cart') ?></span>
                                                        </button>
                                                        */ ?>
                                                    <?php endif; ?>
                                                <?php else: ?>
                                                    <?php if ($prod->getIsSalable()): ?>
                                                        <div class="stock available"><span><?php /* @escapeNotVerified */ echo __('In stock') ?></span></div>
                                                    <?php else: ?>
                                                        <div class="stock unavailable"><span><?php /* @escapeNotVerified */ echo __('Out of stock') ?></span></div>
                                                    <?php endif; ?>
                                                <?php endif; ?>
                                            </div>
                                        </div>
                                    </div>    
                                </div>
                            <?php echo($iterator == count($upSellProducts)+1) ? '</li>' : '' ?>
                        <?php endforeach ?>
                    
                </ol>
            </div>
        </div>
    </div>
