
<?php  $categories = $block->getCategoryCollection(); ?>
<div class="block-static">
    <div class="row">
    <?php foreach ($categories as $_categorys) { ?>
      <div class="col-6 col-md-4 col-lg-2">
        <div class="top-cat-item">
            <?php                                 
                if($_categorys->getImageUrl()){
                    $catImg = $_categorys->getImageUrl();
                }else{
                    $catImg = $this->getUrl().'pub/media/cat_noimg.jpg';
                }
            ?>
            <a href="<?php echo $_categorys->getUrl(); ?>">
                <span class="img-native-wrap" style="padding-bottom: 100%;">
                    <img class="img-fluid" src="<?php echo $catImg; ?>" alt="" width="168" height="168" loading="lazy">
                </span>
            </a>
            <h3 class="title"><a href="<?php echo $_categorys->getUrl(); ?>" target="_blank"><?php echo $_categorys->getName(); ?></a></h3>
        </div>
      </div>  
    <?php } ?>    
    </div>
</div>