<div class="sub-category row">
<?php 
   $subcategories =  $this->getSubcategories();
   if(count($subcategories) > 0){
   foreach($subcategories as $subcategorie) { 
   	$catimg = $this->getSubcateImages($subcategorie->getId()); ?>
	<div class="subcat-item col-lg-6">
		<div class="subcat-img">
			<a title="" href="<?php echo $subcategorie->getUrl(); ?>"> <img src="<?php echo $catimg->getImageUrl(); ?>" alt=""> </a>
		</div>
		<div class="subcat-name"><a title="<?php echo $subcategorie->getName(); ?>" href="<?php echo $subcategorie->getUrl(); ?>"><?php echo $subcategorie->getName(); ?></a></div>
	</div>
<?php }} else { echo "Sub category not found"; } ?>
</div>